* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #131111;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #201f1f;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #04b8ff;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

header {
    background: url('img/back2.png') no-repeat center center/cover;
    height: 500px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
}

section {
    padding: 60px 20px;
}

.cards-section, .services-section {
    background-color: #fff;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.logo{
    height: 40px;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 1.5em;
    margin: 15px;
}

.card p {
    font-size: 1em;
    margin: 0 15px 15px;
}

.contact-section {
    background-color: #f9f9f9;
    text-align: center;
}

.contact-section h2 {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .burger {
        display: block;
    }
}

